---
layout: base.njk
title: Bonjour monde
---

{%- from "macros.njk" import component -%}

<div class="p-6">
    <div class="container">
        {{ component("headings/title", { content: "Bonjour monde" }) }}
    </div>
</div>